In [1]:
import pandas as pd
import numpy as np
from scipy import stats

data.csv

In [2]:
df_data = pd.read_csv('data.csv', index_col='id')
df_data = df_data[(np.abs(stats.zscore(df_data)) < 3).all(axis=1)]
df_data = df_data.drop_duplicates()
df_data.head()

,home_player_1,home_player_2,home_player_3,home_player_4,home_player_5,home_player_6,home_player_7,home_player_8,home_player_9,home_player_10,...,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA,year,win_team
id,,,,,,,,,,,,,,,,,,,,,
0,25524,30668,27293,37787,25565,30598,30749,30987,21164,30496,...,3.75,6.50,1.44,3.75,8.0,1.44,3.75,7.0,2008,1
1,41671,18823,25526,46078,25587,181995,175646,177874,50189,32748,...,3.40,4.75,0.00,0.00,0.0,0.00,0.00,0.0,2016,0
4,69650,32870,30890,30602,93484,29581,182223,78324,30352,184360,...,3.10,3.70,0.00,0.00,0.0,0.00,0.00,0.0,2014,1
5,26335,165583,156716,291642,173955,292888,40657,201939,290022,26199,...,3.25,3.80,0.00,0.00,0.0,0.00,0.00,0.0,2013,0
6,30742,26154,77741,56916,26107,32575,26160,107417,35407,37950,...,4.20,8.00,1.45,3.75,7.5,1.44,3.80,7.5,2011,1

players.csv

In [3]:
def switch_case_foot(arg, res1, res2):
    if arg == 'right':
        res1 = 1
    elif arg == 'left':
        res2 = 1
    return res1, res2

def switch_case_intensity(arg, res1, res2, res3):
    if arg == 'low':
        res1 = 1
    elif arg == 'medium':
        res2 = 1
    elif arg == 'high':
        res3 = 1
    return res1, res2, res3

In [ ]:
df_players = pd.read_csv('players.csv')
df_players = df_players.drop_duplicates()
df_players['preferred_right_foot'] = 0
df_players['preferred_left_foot'] = 0
df_players['low_attacking_work_rate'] = 0
df_players['medium_attacking_work_rate'] = 0
df_players['high_attacking_work_rate'] = 0
df_players['low_defensive_work_rate'] = 0
df_players['medium_defensive_work_rate'] = 0
df_players['high_defensive_work_rate'] = 0

for i in df_players.index:
    df_players['preferred_right_foot'].iloc[i], df_players['preferred_left_foot'].iloc[i] =\
        switch_case_foot(
            df_players['preferred_foot'].iloc[i],
            df_players['preferred_right_foot'].iloc[i],
            df_players['preferred_left_foot'].iloc[i]
        )
    df_players['low_attacking_work_rate'].iloc[i], df_players['medium_attacking_work_rate'].iloc[i], df_players['high_attacking_work_rate'].iloc[i] =\
        switch_case_intensity(
            df_players['attacking_work_rate'].iloc[i],
            df_players['low_attacking_work_rate'].iloc[i],
            df_players['medium_attacking_work_rate'].iloc[i],
            df_players['high_attacking_work_rate'].iloc[i]
        )
    df_players['low_defensive_work_rate'].iloc[i], df_players['medium_defensive_work_rate'].iloc[i], df_players['high_defensive_work_rate'].iloc[i] =\
        switch_case_intensity(
            df_players['defensive_work_rate'].iloc[i],
            df_players['low_defensive_work_rate'].iloc[i],
            df_players['medium_defensive_work_rate'].iloc[i],
            df_players['high_defensive_work_rate'].iloc[i]
        )
df_players.head()

/home/cyril/.local/lib/python3.8/site-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)